<ng-container>
  <pdf-marker-alert></pdf-marker-alert>
  <form [formGroup]="importForm">
    <h1><mat-icon>archive</mat-icon>&nbsp;Import from a zip file</h1>
    <mat-divider></mat-divider>
    <div class="pdf-spacer"></div>
    <mat-form-field>
      <div class="pdf-spacer"></div>
      <mat-label>Select Assignment Type</mat-label>
      <div class="pdf-spacer"></div>
      <div class="pdf-marker-assignmentType-container">
        <mat-select formControlName="assignmentType"  class="form-control select" ngModel (change)="onAssignmentTypeChange($event)" readonly placeholder="Choose Assignment Type">
          <mat-option *ngFor="let assignmentType of assignmentTypes" [value]="assignmentType.name" >
            {{ assignmentType.name }}
          </mat-option>
        </mat-select>
      </div>
    </mat-form-field>
    <div class="pdf-spacer"></div>
    <mat-form-field floatLabel="always">
      <div class="pdf-spacer"></div>
      <mat-label>Select File</mat-label>
      <div class="pdf-spacer"></div>
      <div class="pdf-marker-file-upload">
        <button type="button" mat-raised-button (click)="selectFile()">Browse</button>
        &nbsp;&nbsp;
        <input type="text" matInput formControlName="assignmentZipFileText" id="pdf-marker-upload-display" readonly placeholder="Choose Zip File">
        <button type="button" mat-raised-button *ngIf="isFileLoaded && validMime && isValidFormat" (click)="onPreview()">Preview&nbsp;<mat-icon>visibility</mat-icon>&nbsp;&nbsp;</button>
      </div>
    </mat-form-field>
    <div class="pdf-spacer"></div>
    <mat-form-field *ngIf="isFileLoaded && validMime && isValidFormat">
      <mat-label>Assignment Name</mat-label>
      <input formControlName="assignmentName" type="text" [readonly]="isAssignmentName" matInput required>
    </mat-form-field>
    <div class="pdf-spacer"></div>
    <mat-label class="pdf-marker-form-labels">Workspace Folder:</mat-label>
    <mat-form-field>
      <mat-label>Select Workspace</mat-label>
      <mat-select formControlName="workspaceFolder" required>
        <mat-option *ngFor="let workspace of workspaces" [value]="workspace">{{workspace}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-label class="pdf-marker-form-labels">Rubric</mat-label>
    <div class="pdf-marker-rubric-container">
      <mat-checkbox formControlName="noRubric" color="primary" (change)="onRubricChange($event)">No Rubric</mat-checkbox>
      <ng-container>
        <br>
        <mat-form-field [hideRequiredMarker]="importForm.get('noRubric').value">
          <mat-label>Select Rubric</mat-label>
          <mat-select formControlName="rubric" required="importForm.get('noRubric').value">
            <mat-option *ngFor="let rubric of rubrics" [value]="rubric.name">{{rubric.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </div>
    <div class="pdf-spacer"></div>
    <div class="pdf-marker-submit">
      <button type="button" mat-raised-button [disabled]="!importForm.valid || !validMime || !isValidFormat" (click)="onSubmit($event)">Submit</button>
    </div>
  </form>
</ng-container>
