<ng-container>
  <h4>Welcome to PDF Marker.</h4>
  <p>The onscreen PDF marking application. If you have just installed the application, please click settings above and configure your application.</p>
  <div>
    <mat-panel-title style="font-weight: bold !important;">Application Icons and Tools</mat-panel-title>
    <div class="pdf-spacer"></div>
    <table>
      <tr>
        <td><mat-icon color="primary">unarchive</mat-icon></td>
        <td>Import an assignment from a zip file for marking.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">picture_as_pdf</mat-icon></td>
        <td>Upload PDFs and create an assignment for marking.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">settings</mat-icon></td>
        <td>Application Settings and Rubric Settings.</td>
      </tr>
    </table>
  </div>

  <div class="pdf-spacer" style="border: 1px solid #F5F5F5"></div>

  <mat-expansion-panel class="mat-expansion-panel-welcome">
    <mat-expansion-panel-header>
      <mat-panel-title style="font-weight: bold !important;">Assignment Overview Settings</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Access the assignment overview by clicking on the assignment name.</p>
    <table>
      <tr>
        <td><mat-icon color="primary">apps</mat-icon></td>
        <td>View and change selected rubric.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">archive</mat-icon></td>
        <td>Finalize and export assignment to zip.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">person</mat-icon></td>
        <td>Add or remove students from a PDF Marker created assignment.</td>
      </tr>
    </table>
  </mat-expansion-panel>
  <div class="pdf-spacer" style="border: 1px solid #F5F5F5"></div>
  <mat-expansion-panel class="mat-expansion-panel-welcome">
    <mat-expansion-panel-header>
      <mat-panel-title style="font-weight: bold !important;">Marking Icons and Tools</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Assessors can either mark with a rubric or with a set of marking tools as listed below.
      Rubrics are enabled when you import or create an assignment.
    </p>
    <table>
      <tr>
        <td><mat-icon color="primary">check</mat-icon></td>
        <td>Single Mark or Tick, has a value of 1.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary" class="pdf-marker-icons-svg-class"  svgIcon="halfTick">halfTick</mat-icon></td>
        <td>Half-mark or half-tick, has a value of 0.5.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">spellcheck</mat-icon></td>
        <td>Acknowledge mark. This marking tool has no mark value assigned to it.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">close</mat-icon></td>
        <td>Cross mark used for indicating a wrong answer.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">comment</mat-icon></td>
        <td>Comment or number mark. This marking tool allows you to assign a mark of any number to a section. There is space for an optional comment.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">announcement</mat-icon></td>
        <td>Preview Marks will show you the current breakdown of marks on the visible PDF and a breakdown of what marking tools these come from.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">arrow_upward</mat-icon></td>
        <td>Page the pdf upwards.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">arrow_downward</mat-icon></td>
        <td>Page the pdf downwards.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary" svgIcon="layout-expand-left">layout-expand-left</mat-icon></td>
        <td>Show left panel (PDF) only when marking with a rubric.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary" svgIcon="layout-default">layout-default</mat-icon></td>
        <td>Show both panels (PDF and Rubric) when marking with a rubric.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary" svgIcon="layout-expand-right">layout-expand-right</mat-icon></td>
        <td>Show right panel (Rubric) only when marking with a rubric.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">palette</mat-icon></td>
        <td>Change marking icon color, all mark icons from now on will use this color.</td>
      </tr>
      <tr>
        <td><mat-icon color="primary">delete_sweep</mat-icon></td>
        <td>Clear all marks, selections, comments and annotations.</td>
      </tr>
    </table>
  </mat-expansion-panel>
</ng-container>
