.pdf-marker-mark-type-icon-container {
  display: inline-block;
  position: relative;

  .pdf-marker-mark-type-icon-options {
    display: inline-block;
    position: absolute;
    top: 100%;
    width: 100%;
    .mat-icon {
      font-size: 14px;
      height: fit-content;
      color: #fff;
      display: inline-block;
      cursor: pointer;
      width: 50%;
      text-align: center;
      padding: 2px 0 3px 0;
    }

    .pdf-marker-mark-type-icon-delete {
      background: #a94442;
    }

    .pdf-marker-mark-type-icon-delete-mark {
      width: 100%;
    }

    .pdf-marker-mark-type-icon-edit {
      background: #3c763d;
    }
  }

  .pdf-marker-mark-type-icon-icon {
    position: relative;
    width: 34px;
    height: 34px;
    cursor: move;
    border: 1px dotted transparent;
    .mat-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }

    .pdf-marker-mark-type-icon-number-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      height: unset;
      border: none;
      color: #a94442;
      font-weight: 600;
      background: none !important;
    }

    .pdf-marker-mark-type-icon-number-icon-leave {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      font-weight: 600;
      border: 1px solid;
      padding: 0;
      height: 100%;
      border-radius: 50%;
      color: #fff;
    }

    .pdf-marker-mark-type-icon-number-icon:focus {
      outline: none !important;
    }
  }

  .pdf-marker-special-icon-attach {
    text-align: right !important;
    width: 1px !important;
    height: 1px !important;
    color: #bebdbe;
    left: 87% !important;
    top: 0 !important;
    transform: translate(-100%)!important;

  }

  .pdf-marker-mark-type-icon-hovered {
    border: 1px dotted #888;
  }
}

