form {
  display: flex;
  flex-direction: column;
  /*width: 50%;
  margin: 0 auto;*/

  #pdf-marker-file-settings-wrapper {
    display: flex;
    align-items: flex-start;

    .mat-mdc-form-field {
      width: 25%;
    }

    .pdf-marker-file-upload {
      display: flex;

      #pdf-marker-upload-display {
        display: flex;
        width: 75%;
        border: 0;
        background: transparent;
      }

      button {
        position: relative;

        .pdf-marker-upload {
          width: 100%;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          margin: 0;
          padding: 0;
          z-index: 10;
          font-size: 20px;
          height: 36px;
          opacity: 0;
          filter: alpha(opacity=0);
          background-color: #fff;
        }
      }
    }
  }

  .pdf-marker-rubric-container {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: space-between;

    .mat-mdc-form-field {
      flex: 1;
      flex-grow: unset;
    }
  }

  .pdf-marker-upload-display-hidden {
    visibility: hidden;
  }
}
