
.rubric-level-block-full {
  min-width: 80px;
  font-weight: lighter;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  padding: 0 3px 3px 3px !important;
  text-align: center;
  cursor: pointer;
}

* {
  font-size: .95em;
}
.rubric-level-block-header {
  text-align: center;
}

.rubric-level-block-description {
}

