mat-toolbar {
  background: transparent;
  height: 99%;
  min-height: 64px;
  .pdf-marker-brand {
    display: flex;
    align-items: center;
    cursor: pointer;

    .pdf-marker-title {
      font-weight: 800;
    }

    #pdf-marker-version {
      font-size: 10px;
      vertical-align: super;
      font-weight: normal;
    }

    img {
      width: 140px;
      margin-left: -3px;
    }
  }
}
