<mat-toolbar>
  <button
    tool
    type="button"
    aria-label="Toggle sidenav"
    (click)="menuToggleClicked()"
    mat-icon-button>
    <mat-icon matTooltip="Toggle Menu" aria-label="Side nav toggle icon">swap_horiz</mat-icon>
  </button>
  <span class="pdf-marker-brand" (click)="goHome()">
    <img src="../../../assets/logo.png" alt="">
    <span class="pdf-marker-title">{{ appName }} <span id="pdf-marker-version" *ngIf="appVersion"><span id="pdf-marker-version-prefix">v</span><span id="pdf-marker-version-number">{{ appVersion.version }}</span></span></span>
  </span>
  <span class="pdf-marker-fill-space"></span>
  <pdf-marker-menu></pdf-marker-menu>
</mat-toolbar>
<mat-divider></mat-divider>
