<mat-toolbar style="background: #888; color:white" [class.menuOpen]="menuOpen" class="header-toolbar">
  <button
    tool
    color="primary"
    type="button"
    aria-label="Toggle sidenav"
    (click)="menuToggleClicked()"
    mat-icon-button>
    <mat-icon matTooltip="Toggle Menu" aria-label="Side nav toggle icon" style="color: #FFFFFF; font-size: 36px; width: 36px;">swap_horiz</mat-icon>
  </button>
  <div class="pdf-marker-brand" (click)="goHome()">
    <div class="pdf-marker-title">{{ appName }}</div>
    <div *ngIf="appVersion" class="pdf-marker-version">
      v{{ appVersion.version }}
    </div>
  </div>
  <pdf-marker-submission-navigator style="flex-grow: 1"></pdf-marker-submission-navigator>
</mat-toolbar>
<mat-divider></mat-divider>
