.mat-mdc-dialog-title {
  display: flex;
  align-items: center;
  background: #fff;
  margin-bottom: 0;
}

.customFlexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: inherit;
}
