<ng-container>
  <div class="pdf-spacer" style="border: 1px solid #F5F5F5"></div>
  <form [formGroup]="commentForm">
    <h1><mat-icon>add_comment</mat-icon> Marking Comment</h1>
    <mat-divider></mat-divider>
    <div class="pdf-spacer"></div>
    <mat-form-field class="settings-halfWidth">
      <mat-label>Section Title</mat-label>
      <input formControlName="sectionLabel" id="sectionLabel" #sectionLabel type="text" placeholder="Question/Section ..." matInput required [autocomplete]="false">
    </mat-form-field><br>
    <div class="pdf-spacer"></div>
    <mat-divider></mat-divider>
    <mat-form-field >
      <mat-label>Mark:</mat-label>
      <input  type="number" formControlName="totalMark" id="totalMark" #totalMark placeholder="Mark Value..." matInput required [autocomplete]="false">
    </mat-form-field><br>
    <div class="pdf-spacer"></div>
    <mat-divider></mat-divider>
    <mat-form-field style="width:100%">
      <mat-label>Comment:</mat-label>
      <textarea formControlName="markingComment" id="markingComment" #markingComment type="text" matInput placeholder="Marking comment to student..."></textarea>
    </mat-form-field>
    <mat-divider></mat-divider>
    <div class="pdf-spacer"></div>
    <div  mat-dialog-actions class="pdf-marker-yes-and-no-confirmation-dialog-actions">
      <button type="button" class="pdf-marker-yes-and-no-confirmation-dialog-yes" mat-button color="" (click)="onSubmit($event)">Save</button>&nbsp;&nbsp;
      <button type="button" class="pdf-marker-yes-and-no-confirmation-dialog-no" mat-button color="" (click)="onCancel($event)">Cancel</button>
    </div>
  </form>
</ng-container>
