<ng-container>
  <mat-toolbar class="pdf-marker-assignment-marking-settings">
    <form [formGroup]="settingsForm">
      <span>Tick colour</span>&nbsp;&nbsp;
      <div [style.width.px]="colorPickerWidth" [style.height.px]="colorPickerHeight" [style.min-width.px]="colorPickerWidth" [style.min-height.px]="colorPickerHeight" class="pdf-marker-assignment-marking-settings-color-picker">
        <span [style.width.px]="colorBlockWidth" [style.height.px]="colorBlockHeight" [style.background]="colour" class="pdf-marker-assignment-marking-settings-color" *ngFor="let colour of colours" (click)="onColourChange(colour)"></span>
      </div>&nbsp;&nbsp;&nbsp;
      <span>Correct tick default count</span>&nbsp;&nbsp;
      <input matInput type="text" formControlName="defaultTick" class="pdf-marker-assignment-marking-settings-config">
      <div class="pdf-marker-fill-space"></div>
      <span>Incorrect tick default count</span>&nbsp;&nbsp;
      <input matInput type="text" formControlName="incorrectTick" class="pdf-marker-assignment-marking-settings-config">
      <div class="pdf-marker-fill-space"></div>
      <button matTooltip="Save" mat-button mat-icon-button (click)="onSave()"><mat-icon>save</mat-icon></button>
    </form>
  </mat-toolbar>
</ng-container>
