$pdf-marker-gray: #D3D3D3;
mat-toolbar {
  font-size: 16px;
  padding-left: 0;
  border-top: 1px solid $pdf-marker-gray;
  border-bottom: 1px solid $pdf-marker-gray;

  .pdf-marker-assignment-marking-settings-color-choice {
    display: block;
    width: 25px;
    margin-left: 7px;
    text-align: center;
    height: 2px;
    border: 1px solid;
    position: absolute;
    top: 90%;
  }

  mat-form-field {
    width: 35px;
  }

  .pdf-marker-assignment-marking-settings-config {
    width: 35px;
    height: 20px;
    color: #888;
    font-weight: normal;
    font-size: 12px;
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    input {
      text-align: center;
      margin-top: 8px;
    }

    .pdf-marker-assignment-marking-settings-save {
      border: 1px solid #d3d3d3;
    }

    .disabled-button {
      color: #D7D7D7;
    }

    .tooltip-red {
      background: #b71c1c;
    }
  }
}
