$pdf-marker-gray: #D3D3D3;
mat-toolbar {
  font-size: 16px;
  font-family: inherit !important;
  padding-left: 0;
  border-top: 1px solid $pdf-marker-gray;
  border-bottom: 1px solid $pdf-marker-gray;

  .pdf-marker-assignment-marking-settings-color {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: all ease-in;

    &:hover {
      transform: scale(1.2);
    }
  }

  .pdf-marker-assignment-marking-settings-color-selected {
    transform: scale(1.2);
  }

  .pdf-marker-assignment-marking-settings-config {
    width: 35px;
    height: 20px;
    color: #888;
    font-weight: normal;
    border: 1px solid $pdf-marker-gray;
    font-size: 12px;
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    input {
      text-align: center;
    }

    .disabled-button {
      color: #D7D7D7;
    }

    .tooltip-red {
      background: #b71c1c;
    }
  }
}
