<ng-container>
  <mat-toolbar class="pdf-marker-assignment-marking-settings">
    <form [formGroup]="settingsForm">
      <span>Tick colour</span>&nbsp;&nbsp;
      <div [style.width.px]="colorPickerWidth" [style.height.px]="colorPickerHeight" [style.min-width.px]="colorPickerWidth" [style.min-height.px]="colorPickerHeight" class="pdf-marker-assignment-marking-settings-color-picker">
        <span [class.pdf-marker-assignment-marking-settings-color-selected]="selectedColour === colour" [style.width.px]="colorBlockWidth" [style.height.px]="colorBlockHeight" [style.background]="colour" class="pdf-marker-assignment-marking-settings-color" *ngFor="let colour of colours" (click)="onColourChange(colour)"></span>
      </div>&nbsp;&nbsp;&nbsp;
      <span>Correct tick default count</span>&nbsp;&nbsp;
      <input matInput #defaultTickToolTip="matTooltip" matTooltip="Value must be >= 1" matTooltipPosition="right" matTooltipClass="tooltip-red" type="text" formControlName="defaultTick" class="pdf-marker-assignment-marking-settings-config" (change)="onDefaultTickChange()">
      <div class="pdf-marker-fill-space"></div>
      <span>Incorrect tick default count</span>&nbsp;&nbsp;
      <input matInput #incorrectTickToolTip="matTooltip" matTooltip="Value must be <= 0" matTooltipPosition="right" matTooltipClass="tooltip-red" type="text" formControlName="incorrectTick" class="pdf-marker-assignment-marking-settings-config" (change)="onIncorrectTickChange()">
      <div class="pdf-marker-fill-space"></div>
      <button type="button" [disabled]="settingsForm.invalid" matTooltip="Save" mat-button mat-icon-button (click)="onSave()"><mat-icon [class.disabled-button]="settingsForm.invalid">save</mat-icon></button>
    </form>
  </mat-toolbar>
</ng-container>
