<ng-container>
  <mat-toolbar class="pdf-marker-assignment-marking-settings">
    <form [formGroup]="settingsForm">
      <button type="button" [disabled]="settingsForm.invalid" matTooltip="Save" mat-button mat-icon-button (click)="onSave()" class="pdf-marker-assignment-marking-settings-save"><mat-icon [class.disabled-button]="settingsForm.invalid">save</mat-icon></button>
      &nbsp;&nbsp;
      <div>
        <button [style.border-color]="selectedColour" class="pdf-marker-assignment-marking-settings-color-pallette" mat-button mat-icon-button [(colorPicker)]="selectedColour" (colorPickerChange)="onColourChange($event)">
          <mat-icon [style.color]="selectedColour">palette</mat-icon>
        </button>
        <span [style.background]="selectedColour" [style.border]="'1px solid ' + selectedColour" class="pdf-marker-assignment-marking-settings-color-choice"></span>
      </div>&nbsp;&nbsp;
      <mat-form-field>
        <input matInput #defaultTickToolTip="matTooltip" matTooltip="Value must be >= 1" matTooltipPosition="right" matTooltipClass="tooltip-red" type="text" formControlName="defaultTick" class="pdf-marker-assignment-marking-settings-config" (change)="onDefaultTickChange()">
      </mat-form-field>&nbsp;&nbsp;
      <span>Correct tick default count</span>&nbsp;&nbsp;
      <mat-form-field>
        <input matInput #incorrectTickToolTip="matTooltip" matTooltip="Value must be <= 0" matTooltipPosition="right" matTooltipClass="tooltip-red" type="text" formControlName="incorrectTick" class="pdf-marker-assignment-marking-settings-config" (change)="onIncorrectTickChange()">
      </mat-form-field>&nbsp;&nbsp;
      <span>Incorrect tick default count</span>
    </form>
  </mat-toolbar>
</ng-container>
