.pdf-marker-yes-and-no-confirmation-dialog-content {
  font-size: 16px;
  font-family: 'opensans-light', Helvetica, Roboto, "Helvetica Neue", sans-serif;
  text-align: justify;
}

.pdf-marker-yes-and-no-confirmation-dialog-actions {
  button {
    font-family: 'opensans-light', Helvetica, Roboto, "Helvetica Neue", sans-serif;
    color: #fff;
  }
}

.pdf-marker-yes-and-no-confirmation-dialog-actions-yes {
  background: #71C341;
}

.pdf-marker-yes-and-no-confirmation-dialog-actions-no {
  background: #BD362F;
}
