<div class="pdf-marker-finalise-marking-modal">
  <div class="pdf-marker-finalise-marking-modal-header">
    <h3>{{ studentDetails }}</h3>
    <span class="pdf-marker-fill-space"></span>
    <button type="button" mat-icon-button matTooltip="Close" (click)="onClose()"><mat-icon>close</mat-icon></button>
  </div>
  <div style="height: 300px;"></div>
  <div class="pdf-marker-finalise-marking-modal-actions">
    <span class="pdf-marker-fill-space"></span>
    <button type="button" mat-button mat-raised-button>Submit</button>
  </div>
</div>
