<div mat-dialog-title class="mt-3">
  <h2>Allocate Makers</h2>
  <span class="pdf-marker-fill-space"></span>
  <button type="button" mat-icon-button matTooltip="Close" (click)="onClose()"><mat-icon>close</mat-icon></button>
</div>
<mat-dialog-content>
  <p class="text-black-50 small">Auto allocate a group of markers to mark this assignment.</p>
  <div class="mb-3">
    <div class="d-flex"><mat-icon color="primary">description</mat-icon>&nbsp;<span class="text-black-50">{{assignmentName}}</span></div>
    <div class="d-flex"><mat-icon color="primary">person</mat-icon>&nbsp;<span class="text-black-50">{{studentCount}} Students</span></div>
    <div class="d-flex"><mat-icon color="primary">insert_drive_file</mat-icon>&nbsp;<span class="text-black-50">{{submissions.length}} Submission</span></div>
  </div>

  <form [formGroup]="formGroup">
    <div>Choose your marker group</div>
    <mat-form-field cdkTrapFocus>
      <mat-select formControlName="groupId" >
        <mat-option *ngFor="let group of settings?.groups" [value]="group.id">
          {{group.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formGroup.controls.groupId.errors?.emptyGroup">
        {{formGroup.controls.groupId.errors?.emptyGroup}}
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="includeMe" color="primary" class="ms-2">Include Me</mat-checkbox>

    <div [class.d-none]="allocations?.length === 0" >
      <div class="d-flex mb-2"><mat-icon color="primary">workspaces</mat-icon>&nbsp;Submissions Allocated</div>
      <table class="table ms-4 mb-0">
        <tbody>
        <tr *ngFor="let allocation of allocations" class="text-black-50">
          <td style="width: 1rem;" class="border-0 p-1">{{allocation.submissions.length}}</td>
          <td class="border-0 p-1">{{allocation.marker.name}} ({{allocation.marker.email}})</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="pdf-spacer"></div>

    <div id="pdf-marker-file-export-wrapper">
      <div class="pdf-marker-export-upload">
        <button type="button" mat-raised-button (click)="setExportDirectory()">Browse</button>
      </div>
      &nbsp;&nbsp;
      <mat-form-field class="w-100">
        <div class="export-path-setup">
          <input type="text" matInput formControlName="exportPath" id="pdf-marker-export-display" readonly placeholder="Export Directory">
        </div>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-sm-10 d-flex align-self-end" *ngIf="zipFileCount">
        <span id="zip-file-count">{{ zipFileCount }} zip files will be downloaded to your chosen directory.</span>
      </div>
      <div mat-dialog-actions class="col justify-content-end">
        <button
          [disabled]="formGroup.invalid"
          color="primary"
          type="submit"
          mat-button
          mat-raised-button
          (click)="submit()">Submit</button>&nbsp;&nbsp;&nbsp;
      </div>
    </div>

  </form>

</mat-dialog-content>

