.mat-dialog-title {
  display: flex;
  align-items: center;
  background: #fff;
  margin-bottom: 0;
}

.export-path-setup {
  display: flex;
}


#pdf-marker-file-export-wrapper {
  display: flex;
  align-items: flex-start;

  .pdf-marker-file-export {
    display: flex;
    padding: 2px;
    border: 1px solid transparent;
    width: 75%;

    #pdf-marker-export-display {
      display: flex;
      width: 100%;
      border: 0;
      background: transparent;
    }

    button {
      position: relative;
      .pdf-marker-upload {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 10;
        font-size: 20px;
        height: 36px;
        opacity: 0;
        filter: alpha(opacity=0);
        background-color: #fff;
      }
    }
  }
}
