<h1 mat-dialog-title>
  Manage Rubric
  <span class="pdf-marker-fill-space"></span>
  <button type="button" mat-icon-button matTooltip="Close" (click)="onClose()"><mat-icon>close</mat-icon></button>
</h1>

<mat-dialog-content>
  <div *ngIf="canEdit" class="pdf-marker-rubric-container mb-4">
    <form [formGroup]="rubricForm">
      <mat-form-field>
        <mat-label>Select Rubric</mat-label>
        <mat-select formControlName="rubricName">
          <mat-option *ngFor="let rubricsName of rubricsNames" [value]="rubricsName">{{rubricsName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <pdf-marker-rubric [rubric]="currentRubric"></pdf-marker-rubric>
</mat-dialog-content>

<div mat-dialog-actions *ngIf="canEdit">
  <button type="button" mat-raised-button color="primary" (click)="saveRubricChangeClick()">Submit</button>&nbsp;&nbsp;
  <button type="button" mat-button color="accent" (click)="onCancel()">Cancel</button>
</div>
