@import '/src/scss/mixins';

.pdf-marker-assignment-marking-controls {
  height: 65px;
  position: sticky;
  top: 0;
  left: 0;
  width: inherit;
  z-index: 1000;
}

.viewer-container {

  display: flex;
  flex-direction: row;

  .pages-wrapper {
    flex-grow: 1;
    overflow-x: auto;
    background: #999999;
    flex-direction: column;

    /* view height - navbars + borders */
    height: calc(100vh - 132px);
    margin-right: -23px;
  }

  .pages-wrapper {
    @include scrollbar();
  }
}
