<mat-toolbar>
  <div *ngIf="!containsRubric" style="display: flex; width: 33.3%">
  <ng-container *ngFor="let iconData of markIcons">
    <button
      color="primary"
      [disabled]="!editEnabled"
      *ngIf="iconData.icon !== 'halfTick' && iconData.icon !== 'brush'"
      [matTooltip]="iconData.toolTip"
      [class.pdf-marker-icons-selected]="(selecetedIcon) ? (iconData.icon === selecetedIcon.icon):false"
      (click)="onIconClick(iconData, $event)"
      mat-button
      mat-icon-button>
      <mat-icon [class.pdf-icon-disabled]="!editEnabled">{{ iconData.icon }}</mat-icon>
    </button>
    <button
      color="primary"
      [disabled]="!editEnabled"
      *ngIf="iconData.icon === 'halfTick' && iconData.icon !== 'brush'"
      [matTooltip]="iconData.toolTip"
      [class.pdf-marker-icons-selected]="(selecetedIcon) ? (iconData.icon === selecetedIcon.icon):false"
      (click)="onIconClick(iconData, $event)"
      mat-button
      mat-icon-button>
      <mat-icon class="pdf-marker-icons-svg-class"
                [svgIcon]="iconData.icon"
                [class.pdf-icon-disabled]="!editEnabled" >
      </mat-icon>
    </button>
    <div
      *ngIf="iconData.icon === 'brush'"
      class="pdf-marker-assignment-marking-settings-highlighter">
      <button
        [disabled]="!editEnabled"
        color="primary"
        [matTooltip]="iconData.toolTip"
        (click)="onIconClick(iconData, $event)"
        [style.border-color]="highlightToolColor"
        mat-button
        mat-icon-button>
        <mat-icon
          [style.color]="highlightToolColor"
          [class.pdf-icon-disabled]="containsRubric" >
          {{ iconData.icon }}
        </mat-icon>
      </button>
      <span
        [matMenuTriggerFor]="highlightMenu"
        [style.pointer-events]="!editEnabled ? 'none': ''"
        [style.background]="!editEnabled ? 'rgba(0,0,0,.26)' : selectedHighlightColour"
        class="pdf-marker-assignment-marking-settings-highlighter-choice">
    </span>
    </div>
  </ng-container>
  </div>


  <div
    [style.width]="containsRubric ? null : '33.3%'"
    [style.flex-grow]="containsRubric ? '1' : null"
    style="display: flex; align-items: center; justify-content: center">
  <button
    color="primary"
    matTooltip="Prev"
    mat-button
    mat-icon-button
    [disabled]="currentPage === 1"
    [class.pdf-marker-icons-pdf-nav-buttons-disabled]="currentPage === 1"
    (click)="onControl($event, 'prevPage')"
    class="pdf-marker-icons-pdf-nav-buttons">
    <mat-icon class="pdf-marker-icons-pdf-nav-icons" [class.pdf-marker-icons-pdf-nav-icons-disabled]="currentPage === 1">arrow_upward</mat-icon>
  </button>
  <button
    color="primary"
    matTooltip="Next"
    mat-button
    mat-icon-button
    [disabled]="currentPage === pages"
    [class.pdf-marker-icons-pdf-nav-buttons-disabled]="currentPage === pages"
    (click)="onControl($event, 'nextPage')"
    class="pdf-marker-icons-pdf-nav-buttons">
    <mat-icon class="pdf-marker-icons-pdf-nav-icons" [class.pdf-marker-icons-pdf-nav-icons-disabled]="currentPage === pages">arrow_downward</mat-icon>
  </button>

  <form [formGroup]="iconForm" style="display: flex; flex-direction: row">
    <div style="margin-top: auto; margin-bottom: auto;">
      <input
        matInput
        type="text"
        formControlName="pageNumber"
        (change)="onPageNumberChange()" [style.width]="(pages + '')?.length + 1 + 'ch'">
      / {{ pages }}
    </div>

    <div>
      <mat-form-field class="zoom-select">
        <mat-select formControlName="zoom" panelClass="zoom-select-popup">
          <mat-option *ngFor="let zoomOption of zoomOptions" [value]="zoomOption.value">
            {{zoomOption.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <button
    [disabled]="!editEnabled"
    matTooltip="Rotate Clockwise"
    mat-button
    mat-icon-button
    (click)="onControl($event, 'rotate-cw')"
    class="rotate-buttons rotate-clockwise">
    <mat-icon class="rotate-icons">rotate_right</mat-icon>
  </button>
  <button
    [disabled]="!editEnabled"
    matTooltip="Rotate Counter-Clockwise"
    mat-button
    mat-icon-button
    (click)="onControl($event, 'rotate-ccw')"
    class="rotate-buttons rotate-cclockwise">
    <mat-icon class="rotate-icons">rotate_left</mat-icon>
  </button>

  </div>



<div style="display: flex; justify-content: flex-end;"
     [style.width]="containsRubric ? '687px' : '33.3%'">
  <ng-container *ngIf="containsRubric">
    <button
      color="primary"
      matTooltip="Display PDF Only"
      mat-button
      mat-icon-button
      (click)="onControl($event, 'showPDF')">
      <mat-icon [class.pdf-icon-disabled]="!containsRubric" svgIcon="layout-expand-left"></mat-icon></button>
    <button
      color="primary"
      matTooltip="Shared View"
      mat-button
      mat-icon-button
      (click)="onControl($event, 'showBoth')">
      <mat-icon [class.pdf-icon-disabled]="!containsRubric" svgIcon="layout-default"></mat-icon>
    </button>
    <button
      color="primary"
      matTooltip="Display Rubric Only"
      mat-button
      mat-icon-button
      (click)="onControl($event, 'showRubric')">
      <mat-icon [class.pdf-icon-disabled]="!containsRubric" svgIcon="layout-expand-right"></mat-icon>
    </button>
  </ng-container>

  <div class="pdf-marker-assignment-marking-settings-color" *ngIf="!containsRubric">
    <button
      [disabled]="!editEnabled"
      #picker="ngxColorPicker"
      [style.border-color]="editEnabled ? selectedColour : 'rgba(0,0,0,.26)'"
      class="pdf-marker-assignment-marking-settings-color-pallette"
      mat-button
      mat-icon-button
      [cpAlphaChannel] ="'disabled'"
      [cpOutputFormat]="'hex'"
      [(colorPicker)]="selectedColour"
      (colorPickerClose)="onColourChange($event)">
      <mat-icon
        matTooltip="Mark Color"
        [style.color]="editEnabled ? selectedColour : 'rgba(0,0,0,.26)'">
        palette
      </mat-icon>
    </button>
    <span
      (click)="editEnabled && picker.openDialog()"
      [style.background]="editEnabled ? selectedColour : 'rgba(0,0,0,.26)'"
      [style.border-color]="editEnabled ? selectedColour : 'rgba(0,0,0,.26)'"
      class="pdf-marker-assignment-marking-settings-color-choice">
    </span>
  </div>
  <button
    [disabled]="!editEnabled"
    color="primary"
    matTooltip="Clear All"
    mat-button
    mat-icon-button
    (click)="onControl($event, 'clearAll')">
    <mat-icon>delete_sweep</mat-icon>
  </button>
</div>
</mat-toolbar>
<mat-menu #highlightMenu="matMenu" class="highlight-menu vertical">
  <div class="highlight-options">
    <div class="highlight-option"
         (click)="selectHighlighter(highlightOption)"
         *ngFor="let highlightOption of highlightOptions">
      <div class="highlight-option-brush" [style.background-color]="highlightOption.preview"></div>
    </div>
  </div>
</mat-menu>
