$pdf-marker-primary: #6f327a;
mat-toolbar {
  background: transparent;
  .pdf-marker-brand {
    display: flex;
    align-items: center;

    .pdf-marker-title {
      /*font-family: 'opensans-light', Roboto, "Helvetica Neue", sans-serif;*/
      font-weight: 800;
    }

    img {
      width: 140px;
      margin-left: -3px;
    }
  }
}

mat-divider {
  background: $pdf-marker-primary;
}
