<pdf-marker-alert></pdf-marker-alert>
<form [formGroup]="importForm">
  <h1 class="mt-3"><mat-icon color="primary" class="mat-icon-36">archive</mat-icon>&nbsp;Import from a zip file</h1>
  <mat-divider></mat-divider>
  <div class="pdf-spacer"></div>

  <div class="pdf-marker-file-upload-wrapper">
    <button type="button" mat-raised-button (click)="selectFile()">Browse</button>
    <mat-form-field class="ms-3 w-75">
      <input type="text"
             matInput
             formControlName="assignmentZipFileText"
             id="pdf-marker-upload-display"
             readonly
             placeholder="Choose Zip File"
             required>

      <mat-hint>{{sourceFormatDescription}}</mat-hint>
    </mat-form-field>
    <button type="button" mat-button color="primary" *ngIf="isFileLoaded && isValidFormat" (click)="onPreview()">Preview&nbsp;<mat-icon>visibility</mat-icon>&nbsp;&nbsp;</button>
  </div>

  <div class="pdf-spacer" *ngIf="isFileLoaded && isValidFormat"></div>
  <mat-form-field *ngIf="isFileLoaded && isValidFormat">
    <mat-label>Assignment Name</mat-label>
    <input formControlName="assignmentName" type="text" [readonly]="isAssignmentName" matInput required>
  </mat-form-field>
  <div class="pdf-spacer"></div>
  <mat-form-field>
    <mat-label>Working Folder</mat-label>
    <mat-select formControlName="workspaceFolder" required>
      <mat-option *ngFor="let workspace of workspaces" [value]="workspace">{{workspace}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="pdf-marker-rubric-container">
    <mat-form-field >
      <mat-label>Select Rubric</mat-label>
      <mat-select formControlName="rubric">
        <mat-option [value]="''">No Rubric</mat-option>
        <mat-option *ngFor="let rubric of rubrics" [value]="rubric.name">{{rubric.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="pdf-marker-submit mt-3">
    <button type="button" color="primary" mat-raised-button [disabled]="!importForm.valid || !isValidFormat" (click)="onSubmit()">Submit</button>
  </div>
</form>
