.pdf-marker-dropzone {
  cursor: copy;
}

.boundary {
  height: 90%;
  position: relative;
  overflow: hidden;
}

.boundary::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

.boundary::-webkit-scrollbar-thumb {
  background: #888;
}

ng2-pdfjs-viewer {
  iframe {
    border: none !important;
  }
}
