.pdf-marker-dropzone {
  cursor: copy;
}

.boundary {
  height: 90%;
  position: relative;
  overflow: auto;
}

.boundary::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

.boundary::-webkit-scrollbar-thumb {
  background: #888;
}
