<span class="pdf-marker-menu">
  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <ng-container *ngFor="let menuItem of menuItems">
        <a *ngIf="menuItem.id !== editAssignment" [routerLink]="menuItem.href"  mat-menu-item><mat-icon>{{ menuItem.icon }}</mat-icon>{{ menuItem.title }}</a>
        <a *ngIf="menuItem.id === editAssignment && isCreated" [routerLink]="[menuItem.href, assignmentName]"  mat-menu-item><mat-icon>{{ menuItem.icon }}</mat-icon>{{ menuItem.title }}</a>
      </ng-container>

    </ng-template>
  </mat-menu>

  <ng-container *ngFor="let tmenu of toolbarMenu">
    <!--<a [routerLink]="[tmenu.href]" mat-button matTooltip="{{ tmenu.toolTip }}"><mat-icon>{{ tmenu.icon }}</mat-icon></a>-->
    <a [routerLink]="[tmenu.href]" *ngIf="tmenu.title !== settings" mat-button matTooltip="{{ tmenu.toolTip }}"><mat-icon>{{ tmenu.icon }}</mat-icon></a>
    <button type="button" *ngIf="tmenu.title === settings" mat-button matTooltip="{{ tmenu.toolTip }}" [matMenuTriggerFor]="menu"><mat-icon>{{ tmenu.icon }}</mat-icon></button>
  </ng-container>
</span>
