<ng-container>
  <pdf-marker-alert></pdf-marker-alert>
  <form [formGroup]="importForm">
    <h1><mat-icon>archive</mat-icon>&nbsp;Import from a zip file</h1>
    <mat-divider></mat-divider>
    <div class="pdf-spacer"></div>
    <div class="pdf-marker-file-upload">
      <button type="button" mat-raised-button>Browse<input formControlName="assignmentZipFile" type="file" #fileElement class="pdf-marker-upload" [accept]="acceptMimeType" (click)="fileElement.value = null" (change)="onFileChange($event)" required></button>
      &nbsp;&nbsp;
      <input type="text" formControlName="assignmentZipFileText" id="pdf-marker-upload-display" readonly placeholder="Choose Zip File">
      <button type="button" mat-raised-button *ngIf="isFileLoaded && validMime && isValidFormat" (click)="onPreview()">Preview&nbsp;<mat-icon>visibility</mat-icon>&nbsp;&nbsp;</button>
    </div>
    <div class="pdf-spacer"><hr></div>
    <mat-form-field *ngIf="isFileLoaded && validMime && isValidFormat">
      <mat-label>Assignment Name</mat-label>
      <input formControlName="assignmentName" type="text" [readonly]="isAssignmentName" matInput required>
    </mat-form-field>

    <mat-label class="pdf-marker-form-labels">Rubric</mat-label>
    <div class="pdf-marker-rubric-container">
      <mat-checkbox formControlName="noRubric" color="primary" (change)="onRubricChange($event)">No Rubric</mat-checkbox>
      <ng-container>
        <br>
        <mat-form-field [hideRequiredMarker]="importForm.get('noRubric').value">
          <mat-label>Select Rubric</mat-label>
          <mat-select formControlName="rubric" required="importForm.get('noRubric').value">
            <mat-option *ngFor="let rubric of rubrics" [value]="rubric.name">{{rubric.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </div>
    <div class="pdf-spacer"></div>
    <div class="pdf-marker-submit">
      <button type="button" mat-raised-button [disabled]="!importForm.valid || !validMime || !isValidFormat" (click)="onSubmit($event)">Submit</button>
    </div>
  </form>
</ng-container>
