$pdf-marker-primary: #6f327a;

mat-toolbar {
  padding-left: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif !important;
  font-size: 16px;

  button {
    border: 1px solid #d3d3d3;
    margin-right: 6px;
  }


  .pdf-marker-icons-svg-class {
    stroke: $pdf-marker-primary;
    stroke-width: 0;
  }

  .pdf-marker-icons-selected {
    background: violet;
  }

  .pdf-marker-icons-pdf-nav-buttons {
    height: 30px;
    width: auto;
    padding: 4px;
    border: 2px solid #6F6F6F;
    line-height: normal;
  }

  form {
    input {
      text-align: center;
      border: 0;
      border-bottom: 1px solid;
      background: transparent !important;
    }
  }

  .pdf-marker-assignment-marking-settings-highlighter {
    display: flex;
    flex-direction: row;
    align-items: center;

    .pdf-marker-assignment-marking-settings-highlighter-choice {
      display: block;
      width: 25px;
      margin-left: 7px;
      text-align: center;
      height: 2px;
      border: 1px solid transparent;
      position: absolute;
      top: 90%;
      cursor: pointer;
    }

    .pdf-marker-assignment-marking-settings-color-pallette {
      border: 1px solid;
    }
  }

  .pdf-marker-assignment-marking-settings-color {
    display: flex;
    flex-direction: row;
    align-items: center;

    .pdf-marker-assignment-marking-settings-color-choice {
      display: block;
      width: 25px;
      margin-left: 7px;
      text-align: center;
      height: 2px;
      border: 1px solid;
      position: absolute;
      top: 90%;
    }

    .pdf-marker-assignment-marking-settings-color-pallette {
      border: 1px solid;
    }
  }

  .pdf-marker-icons-pdf-nav-buttons-disabled {
    cursor: no-drop;
    border: 2px solid #B5B5B5;
  }

  .pdf-marker-icons-pdf-nav-icons {
    height: auto;
    width: auto;
    font-size: 16px;
    font-weight: bolder;
    color: #6F6F6F;
    line-height: normal;
  }

  .pdf-marker-icons-pdf-nav-icons-disabled {
    color: #B5B5B5;
  }
}

.zoom-select {
  /* margin-top: auto; */
  margin-bottom: -0.4rem;
  display: block;
  margin-left: 1rem;
  width: 4rem;

}


.zoom-select-popup{
  max-height: unset !important;
}
