<mat-toolbar>
  <button
    matTooltip="Apply Rubric"
    class="pdf-marker-icon-first"
    mat-button
    mat-icon-button>
    <mat-icon>apps</mat-icon>
  </button>
  <ng-container *ngFor="let iconData of markIcons">
    <button
      [disabled]="containsRubric"
      *ngIf="iconData.icon !== 'halfTick'"
      [matTooltip]="iconData.toolTip"
      [class.pdf-marker-icons-selected]="(selecetedIcon) ? (iconData.icon === selecetedIcon.icon):false"
      (click)="onIconClick($event, iconData)"
      mat-button
      mat-icon-button>
      <mat-icon [class.pdf-icon-disabled]="containsRubric">{{ iconData.icon }}</mat-icon>
    </button>
    <button
      [disabled]="containsRubric"
      *ngIf="iconData.icon === 'halfTick'"
      [matTooltip]="iconData.toolTip"
      [class.pdf-marker-icons-selected]="(selecetedIcon) ? (iconData.icon === selecetedIcon.icon):false"
      (click)="onIconClick($event, iconData)"
      mat-button
      mat-icon-button>
      <mat-icon class="pdf-marker-icons-svg-class" [svgIcon]="iconData.icon" [class.pdf-icon-disabled]="containsRubric" ></mat-icon>
    </button>
  </ng-container>
  <button
    [disabled]="containsRubric"
    matTooltip="Preview Marks"
    mat-button
    mat-icon-button
    (click)="onControl($event, 'finalise')">
    <mat-icon [class.pdf-icon-disabled]="containsRubric">announcement</mat-icon>
  </button>
  <span class="pdf-marker-fill-space"></span>
  <button
    matTooltip="Prev"
    mat-button
    mat-icon-button
    [disabled]="currentPage == 1"
    [class.pdf-marker-icons-pdf-nav-buttons-disabled]="currentPage == 1"
    (click)="onControl($event, 'prevPage')"
    class="pdf-marker-icons-pdf-nav-buttons">
    <mat-icon class="pdf-marker-icons-pdf-nav-icons" [class.pdf-marker-icons-pdf-nav-icons-disabled]="currentPage == 1">arrow_upward</mat-icon>
  </button>
  <button
    matTooltip="Next"
    mat-button
    mat-icon-button
    [disabled]="currentPage == pages"
    [class.pdf-marker-icons-pdf-nav-buttons-disabled]="currentPage == pages"
    (click)="onControl($event, 'nextPage')"
    class="pdf-marker-icons-pdf-nav-buttons">
    <mat-icon class="pdf-marker-icons-pdf-nav-icons" [class.pdf-marker-icons-pdf-nav-icons-disabled]="currentPage == pages">arrow_downward</mat-icon>
  </button>
  <form [formGroup]="iconForm" style="display: flex; flex-direction: row">
    <div style="margin-top: auto; margin-bottom: auto;">
      <input
        matInput
        type="text"
        formControlName="pageNumber"
        (change)="onPageNumberChange($event)" [style.width]="(iconForm.get('pageNumber')?.value + '')?.length + 'ch'">
      / {{ pages }}
    </div>

    <div>
      <mat-form-field class="zoom-select">
        <mat-select formControlName="zoom">
          <mat-option *ngFor="let zoomOption of zoomOptions" [value]="zoomOption.value">
            {{zoomOption.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <span class="pdf-marker-fill-space"></span>
  <button
    [disabled]="!containsRubric"
    matTooltip="Display PDF Only"
    mat-button
    mat-icon-button
    (click)="onControl($event, 'showPDF')">
    <mat-icon [class.pdf-icon-disabled]="!containsRubric" svgIcon="layout-expand-left"></mat-icon></button>
  <button
    [disabled]="!containsRubric"
    matTooltip="Shared View"
    mat-button
    mat-icon-button
    (click)="onControl($event, 'showBoth')">
    <mat-icon [class.pdf-icon-disabled]="!containsRubric" svgIcon="layout-default"></mat-icon>
  </button>
  <button
    [disabled]="!containsRubric"
    matTooltip="Display Rubric Only"
    mat-button
    mat-icon-button
    (click)="onControl($event, 'showRubric')">
    <mat-icon [class.pdf-icon-disabled]="!containsRubric" svgIcon="layout-expand-right"></mat-icon>
  </button>
  <span class="pdf-marker-fill-space"></span>
  <div class="pdf-marker-assignment-marking-settings-color">
    <button
      [disabled]="containsRubric"
      [style.border-color]="(containsRubric) ? 'rgba(0,0,0,.26)':selectedColour"
      class="pdf-marker-assignment-marking-settings-color-pallette"
      mat-button
      mat-icon-button
      [cpAlphaChannel] ="'disabled'"
      [cpOutputFormat]="'hex'"
      [(colorPicker)]="selectedColour"
      (colorPickerClose)="onColourChange($event)">
      <mat-icon
        [style.color]="(containsRubric) ? 'rgba(0,0,0,.26)':selectedColour"
        [class.pdf-icon-disabled]="containsRubric">
        palette
      </mat-icon>
    </button>
    <span
      [style.background]="(containsRubric) ? 'rgba(0,0,0,.26)':selectedColour"
      [style.border-color]="((containsRubric) ? 'rgba(0,0,0,.26)':selectedColour)"
      class="pdf-marker-assignment-marking-settings-color-choice">
    </span>
  </div>&nbsp;&nbsp;
  <button
    matTooltip="Clear All"
    mat-button
    mat-icon-button
    (click)="onControl($event, 'clearAll')">
    <mat-icon>delete_sweep</mat-icon>
  </button>
  <span class="pdf-marker-fill-space"></span>
</mat-toolbar>
