<div class="submission-navigator-wrapper" [style.display]="selectedSubmission == null ? 'none' : 'flex'">


  <div class="submission-navigator-assignment-name-wrapper">
    <button mat-button (click)="openAssignment()">
      <mat-icon style="font-size: 36px; width: 36px; height: 36px">description</mat-icon>
      <span style="font-size: 1.3rem;font-weight: normal;margin-left: 5px;">{{selectedSubmission?.assignment.name}}</span>
    </button>
  </div>

  <div class="marking-detail-wrapper me-3">
    <div class="marker-name">{{marker}}</div>
    <small class="marker-label">Marker</small>
  </div>


  <div class="submission-navigator-submission-wrapper">
    <div class="mark-wrapper" (click)="previewMarks()" role="button" matTooltip="Preview Marks">
      <span>{{marks}}</span>
    </div>

    <button mat-icon-button matTooltip="Previous" [disabled]="busy || !canPrevious" (click)="previous()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button
      mat-button
      [disabled]="busy"
      [matMenuTriggerFor]="menu">
      <div style="display: flex">
        <div style="flex-grow: 1;line-height: 2rem;height: 2.5rem; width: 185px; text-align: left">
          <div style="height: 1.5rem;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{menuItems[activeIndex]?.studentFullName}}</div>
          <small style="position: relative; top: -0.5rem;">{{menuItems[activeIndex]?.studentId}}</small>
        </div>
        <div style="display: flex; align-items: center;">
          <mat-icon>arrow_drop_down</mat-icon>
        </div>
      </div>
    </button>

    <mat-menu #menu="matMenu">
      <ng-template matMenuContent>
        <ng-container *ngFor="let item of menuItems; let i = index">
          <button mat-menu-item (click)="selectSubmission(i)" [class.selected]="i === activeIndex">
            <div class="student-name">{{item.studentFullName}}</div>
            <small class="student-id">{{item.studentId}}</small>
          </button>
        </ng-container>
      </ng-template>
    </mat-menu>

    <button mat-icon-button matTooltip="Next" [disabled]="busy || !canNext" (click)="next()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
