.submission-navigator-wrapper{
  display: flex;
  padding-left: 8px;
}

.marking-detail-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;

  .marker-name, .marker-label{
    line-height: inherit;
    height: 1rem;
    font-weight: 500;
  }
}

.mark-wrapper{
  border-radius: 1.6rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--pdf-marker-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background: #ffffff;
  color: var(--pdf-marker-primary);
}

.submission-navigator-assignment-name-wrapper{
  display: flex;
  flex-grow: 1;
  border-left: 1px solid #545454;
}


.submission-navigator-submission-wrapper{
  display: flex;
  border-left: 1px solid #545454;
  padding-left: 16px;
}

button.mat-menu-item{
  height: 3.5rem;

  &.selected {
    background: rgba(0, 0, 0, 0.2);
  }

  .student-name, .student-id{
    line-height: inherit;
    height: 1rem;
  }

  .student-id{
    color: #555555;
  }
}

