table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
  width: 250px;
}

* {
  font-size: .95em;
}
h5 {
  text-align: center;
  font-size: 1.1em;
}


.pdf-marker-yes-and-no-confirmation-dialog-yes {
  background: #71C341;
}

.pdf-marker-yes-and-no-confirmation-dialog-no {
  background: #BD362F;
}
 .closeButton {
   float: right;
 }
