<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="pdf-marker-finalise-marking-modal">
  <h1 mat-dialog-title>{{ studentDetails }}
    <span class="pdf-marker-fill-space"></span>
    <button type="button" mat-icon-button matTooltip="Close" (click)="onClose()"><mat-icon>close</mat-icon></button>
  </h1>
  <mat-dialog-content>
    <table class="w-100 table table-borderless ">
      <tbody>
      <tr class="border-bottom">
        <td colspan="2" class="text-muted">Results:</td>
      </tr>
      <ng-container *ngIf="totalCommentorNumberMarks.length > 0">
        <tr *ngFor="let markDetails of totalCommentorNumberMarks; let i = index">
          <td>{{ (markDetails?.sectionLabel)+':' }}</td>
          <td class="text-end">{{ (markDetails?.totalMark) ? markDetails?.totalMark:0 }}
        </tr>
      </ng-container>
      <tr>
        <td>General Marks</td>
        <td class="text-end">
          {{ generalMarks }}
        </td>
      </tr>
      <tr class="border-top">
        <td>
          Total
        </td>
        <td class="text-end">
          {{ (totalMark >= 0) ? totalMark:0 }}
        </td>
      </tr>
      </tbody>
    </table>
    <div class="pdf-marker-finalise-marking-modal-footer">
      <p class="text-muted small">Note: This is only a preview. Please go to Assignment Overview to Finalise and Export</p>
    </div>
  </mat-dialog-content>
</div>
