.mat-mdc-dialog-title {
  display: flex;
  align-items: center;
  background: #fff;
  margin-bottom: 0;
}
.pdf-marker-finalise-marking-modal-footer {
  position: absolute;
  top: 100%;
  transform: translate(0, -100%);
}
