<pdf-marker-alert></pdf-marker-alert>
<form [formGroup]="createAssignmentForm">
  <h1 class="mt-3">
    <mat-icon color="primary" class="mat-icon-36 me-2">picture_as_pdf</mat-icon>
    {{originalAssignmentModel ? 'Upload Assignment Files' : 'Manage Submissions'}}
  </h1>
  <mat-divider></mat-divider>
  <div class="pdf-spacer"></div>
  <mat-form-field class="settings-halfWidth">
    <input #assignmentName formControlName="assignmentName" type="text" placeholder="Assignment Name" matInput required
           [autocomplete]="false" maxlength="50">
  </mat-form-field>
  <div class="pdf-spacer"></div>

  <mat-form-field>
    <mat-label>Working Folder</mat-label>
    <mat-select formControlName="workspaceFolder">
      <mat-option *ngFor="let workspace of workspaces" [value]="workspace">{{workspace}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="pdf-marker-rubric-container">
    <ng-container>
      <mat-form-field>
        <mat-label>Select Rubric</mat-label>
        <mat-select formControlName="rubric">
          <mat-option [value]="''">No Rubric</mat-option>
          <mat-option *ngFor="let rubric of rubrics" [value]="rubric.name">{{rubric.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <div class="pdf-spacer"></div>
  </div>
  <div class="pdf-spacer"></div>
  <div>
    <mat-label class="pdf-marker-form-labels">Students</mat-label>
    <table>
      <tbody formArrayName="submissions">
      <tr *ngFor="let studentInfo of submissions.controls; let studentIndex=index" [formGroupName]="studentIndex">
        <td class="pdf-marker-create-assignment-cell-position">
          <mat-form-field class="settings-halfWidth">
            <mat-label>Student ID</mat-label>
            <input formControlName="studentId" type="text" matInput required [autocomplete]="false">
          </mat-form-field>
          <span class="pdf-marker-create-assignment-tooltip-error"
                *ngIf="studentInfo.get('studentId')?.errors?.minlength">must be >= 5 characters!</span>
          <span class="pdf-marker-create-assignment-tooltip-error"
                *ngIf="studentInfo.get('studentId')?.errors?.maxlength">must be <= 50 characters!</span>
          <span class="pdf-marker-create-assignment-tooltip-error"
                *ngIf="studentInfo.get('studentId')?.errors?.unique">must be unique!</span>
        </td>
        <td>
          <mat-form-field class="settings-halfWidth">
            <mat-label>Student Name</mat-label>
            <input formControlName="studentName" type="text" matInput required [autocomplete]="false">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="settings-halfWidth">
            <mat-label>Student Surname</mat-label>
            <input formControlName="studentSurname" type="text" matInput required [autocomplete]="false">
          </mat-form-field>
        </td>
        <td class="pdf-marker-create-assignment-cell-position">
          <div class="pdf-marker-file-upload-wrapper">
            <button
              type="button"
              mat-raised-button
              [disabled]="studentFormGroupAtIndex(studentIndex)?.controls?.submissionFileName.disabled"
              (click)="selectFile(studentIndex)">
              Browse
            </button>
            <mat-form-field class="ms-3 w-75">
              <input type="text"
                     matInput
                     formControlName="submissionFileName"
                     id="pdf-marker-upload-display"
                     readonly
                     placeholder="Submission File"
                     required>
            </mat-form-field>
          </div>
        </td>
        <td>
          <div class="d-flex">
          <!--<mat-checkbox [class.button-visibility]="!isEdit" [disabled]="!studentFormGroupAtIndex(studentIndex)?.controls?.readonly.value || (studentRow.length) === 1" formControlName="shouldDelete" color="primary">Delete</mat-checkbox>-->
          <button
            type="button"
            matTooltip="Add"
            mat-button mat-icon-button
            class="pdf-marker-create-assignment-add"
            [disabled]="studentIndex <  submissions.controls.length - 1"
            [class.text-muted]="studentIndex <  submissions.controls.length - 1"
            (click)="addNewRow()">
            <mat-icon>
              add_circle
            </mat-icon>
          </button>
          <button type="button"
                  matTooltip="Remove"
                  mat-button
                  mat-icon-button
                  class="pdf-marker-create-assignment-remove"
                  (click)="onStudentInfoRemove(studentIndex)">
            <mat-icon>remove_circle</mat-icon>
          </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="pdf-marker-submit">
    <button
      type="button"
      color="primary"
      mat-raised-button
      [disabled]="createAssignmentForm.invalid || createAssignmentForm.pristine"
      (click)="onSubmit()">Submit
    </button>
  </div>
</form>
