<ng-container>
  <pdf-marker-alert></pdf-marker-alert>

  <form [formGroup]="createFolderForm">
    <h1>
      <mat-icon>folder</mat-icon>
      Working Folders
    </h1>
    <mat-divider></mat-divider>
    <div class="pdf-spacer"></div>
    <mat-form-field floatLabel="always">
      <mat-label>Folder Name</mat-label>
      <div class="pdf-marker-file-upload"> &nbsp;&nbsp;
        <input type="text" matInput formControlName="workingFolders" id="pdf-marker-new-folder"
               placeholder="New Folder">
      </div>
    </mat-form-field>
    <div class="pdf-spacer"></div>
    <div>
      <button type="button" mat-raised-button color="" [disabled]="createFolderForm.invalid"
              (click)="onSubmitCreateFolder($event)">Create
      </button>
    </div>
    <div class="pdf-spacer"></div>
  </form>

  <div id="pdf-marker-folders-list" *ngIf="folders?.length > 0">
    <br>
    <table mat-table [dataSource]="dataSource">
      <!-- Folder name Column -->
      <ng-container matColumnDef="folder">
        <th mat-header-cell *matHeaderCellDef> Folder </th>
        <td mat-cell *matCellDef="let element"><span class="">{{ element.folder }}</span></td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <span>
            <button type="button" matTooltip="Delete" mat-button mat-icon-button  (click)="deleteFolder(element)"><mat-icon>delete</mat-icon></button></span></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</ng-container>

