<mat-toolbar>
  <button mat-button mat-icon-button><mat-icon>apps</mat-icon></button>
  <button mat-button mat-icon-button><mat-icon>check</mat-icon></button>
  <button mat-button mat-icon-button><mat-icon>done_all</mat-icon></button>
  <button mat-button mat-icon-button><mat-icon>done_outline</mat-icon></button>
  <button mat-button mat-icon-button><mat-icon>check_circle</mat-icon></button>
  <button mat-button mat-icon-button><mat-icon>check_circle_outline</mat-icon></button>
  <button mat-button mat-icon-button><mat-icon>comment</mat-icon></button>
  <button mat-button mat-icon-button><mat-icon>announcement</mat-icon></button>
  <span class="pdf-marker-fill-space"></span>
  <button mat-button mat-icon-button><mat-icon>delete_sweep</mat-icon></button>
  <button mat-button mat-icon-button><mat-icon>settings</mat-icon></button>
  <span class="pdf-marker-fill-space"></span>
  <button mat-button mat-icon-button><mat-icon>save</mat-icon></button>
  <button mat-button mat-icon-button><mat-icon>swap_vert</mat-icon></button>
</mat-toolbar>
