<tr>
  <td>
    <span class="rubric-block-header">{{ criteriaBlock.name }}</span>
    <div class="pdf-spacer"></div>
    <span class="rubric-block-description">{{ criteriaBlock.description }}</span>
  </td>
  <td *ngFor="let level of criteriaBlock.levels" class="rubric-block-full">
  <div class="rubric-block-header">
        <h5>{{ level.label }}</h5>
        <div class="rubric-block-points">
          Points: <h5>{{ level.score }}</h5>
        </div>
      </div>
      <div class="rubric-block-level-description">{{ level.description }}</div>
  </td>
</tr>
