.mat-mdc-dialog-title {
  display: flex;
  align-items: center;
  background: #fff;
  margin-bottom: 0;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.example-tree-node {
  display: block;
}

.example-tree-node .example-tree-node {
  padding-left: 25px;
}

.tree-container{
  overflow: auto;
}
