<div mat-dialog-title>
    <h2>{{ filename }}</h2>
    <span class="pdf-marker-fill-space"></span>
    <button type="button" mat-icon-button matTooltip="Close" (click)="onClose()"><mat-icon>close</mat-icon></button>
</div>
<mat-dialog-content style="min-height: 400px; min-width: 500px">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" class="example-tree-node file"  [matTreeNodePadding]="node.level" matTreeNodePaddingIndent="25">
      <!-- use a disabled button to provide padding for tree leaf -->
      <div style="display: flex; flex-direction: row">
        <button mat-icon-button>
          <mat-icon class="file">insert_drive_file</mat-icon>
        </button>
        <div
          style="white-space: nowrap; overflow-x: hidden; cursor:pointer; display: flex; justify-content: center; flex-direction: column;">{{node.name}}</div>
      </div>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" class="example-tree-node"  [matTreeNodePadding]="node.level" matTreeNodePaddingIndent="25">
      <div class="directory"
           style="cursor:pointer;"
           (click)="treeControl.toggle(node)">
        <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name" matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror"
                    [class.material-icons-outlined]="!treeControl.isExpanded(node)">
            {{treeControl.isExpanded(node) ? 'keyboard_arrow_down':'keyboard_arrow_right'}}
          </mat-icon>
        </button>
        <span>
          {{node.name}}
        </span>
      </div>
    </mat-tree-node>
  </mat-tree>
</mat-dialog-content>

<!--<div class="pdf-modal-container">-->
<!--  <h3>{{ filename }}</h3>-->
<!--  <span class="pdf-marker-fill-space"></span>-->
<!--  <button type="button" mat-icon-button matTooltip="Close" (click)="onClose()"><mat-icon>close</mat-icon></button>-->
<!--</div>-->
<!--<div class="tree-container">-->

<!--</div>-->
