<ng-container>
  <pdf-marker-alert></pdf-marker-alert>

  <div class="pdf-marker-assignment-overview-assignment-header">
    <h1 class="pdf-marker-assignment-overview-assignment-name">{{ assignmentName }}</h1>
    <span class="pdf-marker-fill-space"></span>
    <button
      [disabled]="selection.isEmpty()"
      mat-button
      mat-icon-button
      matTooltip="Share"
      (click)="share()">
      <mat-icon [class.pdf-icon-disabled]="selection.isEmpty()">share</mat-icon>
    </button>
    <button
      [disabled]="!isCreated"
      mat-button
      mat-icon-button
      matTooltip="Manage Submissions"
      (click)="manageStudents()">
      <mat-icon [class.pdf-icon-disabled]="!isCreated">person</mat-icon>
    </button>
    <button
      [disabled]="!isRubric"
      mat-button
      mat-icon-button
      matTooltip="Manage Rubric"
      (click)="viewRubric()">
      <mat-icon [class.pdf-icon-disabled]="!isRubric">apps</mat-icon>
    </button>
    <button
      [disabled]="!isSettings"
      mat-button
      mat-icon-button
      matTooltip="Finalise and Export Assignment"
      (click)="onFinalizeAndExport($event)">
      <mat-icon >archive</mat-icon>
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" *ngIf="dataSource">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="studentName">
      <th mat-header-cell *matHeaderCellDef> Student Name </th>
      <td mat-cell *matCellDef="let element">
        <p class="pdf-marker-assignment-overview-student-name">{{element.studentName}}</p>
        <p class="pdf-marker-assignment-overview-student-number">{{element.studentNumber}}</p>
      </td>
    </ng-container>

    <!-- Assignment Column -->
    <ng-container matColumnDef="assignment">
      <th mat-header-cell *matHeaderCellDef> Assignment </th>
      <td mat-cell *matCellDef="let element"><span class="pdf-marker-assignment-overview-select-assignment" *ngIf="element?.assignment" (click)="onSelectedPdf(element)"><mat-icon class="assignment">description</mat-icon>&nbsp;&nbsp;<p>{{element.assignment}}</p></span></td>
    </ng-container>

    <!-- Feedback Column -->
    <ng-container matColumnDef="feedback">
      <th mat-header-cell *matHeaderCellDef> Feedback </th>
      <td mat-cell *matCellDef="let element"><span *ngIf="element?.feedback"><mat-icon class="assignment">description</mat-icon>&nbsp;&nbsp;<span class="pdf-marker-assignment-overview-edit">{{element.feedback}}</span><mat-icon class="assignment-edit">create</mat-icon></span></td>
    </ng-container>

    <!-- Grade Column -->
    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef class="pdf-marker-assignment-overview-assignment-grade-header"> Grade </th>
      <td mat-cell *matCellDef="let element" class="pdf-marker-assignment-overview-assignment-grade-data"><span [class.pdf-marker-assignment-overview-assignment-grade]="element?.grade">{{ (element.grade) ? element.grade:'--' }}</span></td>
    </ng-container>

    <!-- Submission Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"><span class="pdf-marker-assignment-overview-assignment-status" [class.pdf-marker-assignment-overview-assignment-status-on-time]="element?.status === 'On time'" [class.pdf-marker-assignment-overview-assignment-status-late]="element?.status === 'Late'" [class.pdf-marker-assignment-overview-assignment-status-unknown]="element?.status === 'Unknown'">{{ element.status }}</span></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="assignmentsLength" [pageSize]="pageSize" [pageSizeOptions]="assignmentPageSizeOptions" showFirstLastButtons></mat-paginator>
</ng-container>
