.pdf-marker-assignment-overview-assignment-header {
  display: flex;
  padding: 20px 24px;
  background: #fff !important;

  .pdf-marker-assignment-overview-icon{
    display: flex;
    align-items: start;
    margin-right: 8px;

    .mat-icon{
      font-size: 36px;
      width: 36px;
      height: 36px;
    }
  }

  .pdf-marker-assignment-overview-assignment-name {
    flex-grow: 1;
    h1 {
      margin: 0;
      font-size: 16px;
    }
  }

  .pdf-marker-assignment-overview-buttons {
    display: flex;
    align-items: flex-end;
  }
}


form {
  width: 150px;
}

table {
  width: 100%;
  .mat-mdc-cell {
    color: #888 !important;
  }

  .mat-column-select{
    width: 2rem;
    min-width: 2rem;
  }
  .pdf-marker-assignment-overview-student-name {
    font-weight: 500;
    color: #2B72A1 !important;
    &.no-submission {
      color: inherit !important;
    }
  }

  .pdf-marker-assignment-overview-student-number {
    font-weight: 400;
  }

  .pdf-marker-assignment-overview-assignment-date{
    padding: 4px 10px;
  }


  .pdf-marker-assignment-overview-assignment-grade-header {
    min-width: 8rem;
    width: 8rem;
  }

  .pdf-marker-assignment-overview-select-assignment {
    width: 100%;
    display: flex;
    align-items: start;
    word-break: break-word;
  }

  .pdf-marker-assignment-overview-assignment-grade-data {
    text-align: left;
  }

  .mat-icon.assignment-edit {
    vertical-align: middle;
    color: #888;
    font-size: 18px;
  }

  .pdf-marker-assignment-overview-edit {
    width: 80%;
    display: inline-block;
    vertical-align: middle;
  }

  .mat-icon.assignment {
    vertical-align: middle;
    color: #f8f8f8;
    border: 1px solid;
    border-radius: 50%;
    padding: 4px;
    background: #626391;
    width: 33px;
    height: 33px;
  }
}
