.criteria-row {
  display: flex;
  align-items: unset;
  flex-direction: row;
  width: fit-content;

  .criteria-row-data {
    display: flex;
    flex-direction: column;
    width: 200px;
    background: #eee;
  }
}

* {
  font-size: .95em;
}
.rubric-criteria-block-header {
  text-align: center;
  font-size: 2em;
  font-weight: bold !important;
}

.rubric-criteria-block-description {
}

.pdf-selected-block {
  background: thistle;
}
