<tr class="criteria-row">
  <td class="criteria-row-data">
    <span class="rubric-criteria-block-header">{{ criteria?.name }}</span>
    <div class="pdf-spacer"></div>
    <span class="rubric-criteria-block-description">{{ criteria?.description }}</span>
  </td>
  <pdf-marker-rubric-criteria-level-block *ngFor="let level of criteria.levels; let levelIndex = index" [criteriaLevel]="level" (selectedCriteriaLevel)="onCriteriaLevelClicked($event, levelIndex)"></pdf-marker-rubric-criteria-level-block>
</tr>
