/* You can add global styles to this file, and also import other style files */
/*Fonts*/
@font-face {
  font-family: 'opensans-light';
  src: url(../fonts/OpenSans-Light.ttf) format("truetype");
  font-weight:300;
}

@font-face {
  font-family: 'opensans-light-italic';
  font-style: italic;
  src: url(../fonts/OpenSans-LightItalic.ttf) format("truetype");
  font-weight:300;
}

@font-face {
  font-family: 'opensans-regular';
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'opensans-regular-italic';
  font-style: italic;
  src: url(../fonts/OpenSans-RegularItalic.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'opensans-semi-bold';
  src: url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'opensans-semi-bold-italic';
  font-style: italic;
  src: url(../fonts/OpenSans-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
}

/*Variables*/
$pdf-marker-primary: #6f327a;

html, body { height: 100%; font-family: Roboto, "Helvetica Neue", sans-serif !important; }
body { margin: 0; }

.pdf-marker-fill-space {
  flex: 1;
}

button {
  font-family: 'opensans-regular', Roboto, "Helvetica Neue", sans-serif !important;
}

.mat-icon {
  color: $pdf-marker-primary !important;
}

.pdf-marker-container {
  height: 100%;
}

.mat-drawer-container {
  height: 100%;

  .pdf-marker-content-container {
    padding-left: 23px;
    padding-right: 23px;
  }

  mat-toolbar {
    font-family: 'opensans-light', Roboto, "Helvetica Neue", sans-serif !important;
  }

  .mat-expansion-indicator {
    display: none !important;
  }

  .mat-expansion-panel-body {
    padding: 0 24px !important;
  }
}

.pdf-spacer {
  margin: 10px 0 10px 0
}
