@use 'mixins';

.pdfm-markers-panel,
.pdfm-groups-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50%;

  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
    flex-basis: initial;
  }
}

.pdfm-groups-panel .groups-list-container{
  max-height: calc(100vh - 261px);
  @include mixins.scrollbar();
}

.pdfm-markers-panel {
  display: flex;
  flex-direction: column;

  .markers-list-container {
    flex-grow: 1;
    background: white;
    margin-right: 32px;

    max-height: calc(100vh - 261px);
    @include mixins.scrollbar();


  }
}

.drag-add-preview,
.drag-remove-preview{
  padding: 16px;
  background: #fff;
  border: 1px  solid #cecece;
}

.groups-expansion-panel{
  background-color: #eeeeee !important;

  padding: 15px !important;

  .panel-buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  ::ng-deep .mat-expansion-panel-header-description {
    flex-grow: 0;
  }


  ::ng-deep .mat-expansion-panel-body{
    background-color: #fff !important;
    margin: 15px -15px -15px;
  }
}




.add-group {
  margin-top: 16px;

  .add-group-button{
    width: 100%;
  }
}

.member-item:hover {
  background: #DDDDDD;
  border-radius: 7px;
  padding-right: 5px;
}

.no-members {
  min-height: 10rem;
}

.member-item.cdk-drag-preview .drag-handle{
  pointer-events: auto;
  cursor: grabbing;
}
