<div mat-dialog-title>
  <h2 class="mt-2">Update Available</h2>
  <span class="pdf-marker-fill-space"></span>
  <button type="button" mat-icon-button matTooltip="Close" (click)="no()"><mat-icon>close</mat-icon></button>
</div>

<mat-dialog-content>

  <div>
    <p>A new version is available.</p>
    <div><b>Version:</b> {{updateInfo.version}}</div>
    <div><b>Released:</b> {{updateInfo.releaseDate | date:'YYYY-MM-dd HH:mm:ss'}}</div>
  </div>
  <div class="mt-2">
    <p>Restart now to install?</p>
  </div>
</mat-dialog-content>

<div mat-dialog-actions >
  <button color="primary" mat-button mat-raised-button (click)="yes()" style="margin-right: 16px" cdkTrapFocus>Yes</button >
  <button color="accent" mat-button (click)="no()">No</button>
</div>
