<div mat-dialog-title>
  <h2 *ngIf="state === 'waiting'">Update Available</h2>
  <h2 *ngIf="state === 'restart'">Restart Application</h2>
  <span class="pdf-marker-fill-space"></span>
  <button type="button" mat-icon-button matTooltip="Close" (click)="onClose()"><mat-icon>close</mat-icon></button>
</div>

<mat-dialog-content>

  <div *ngIf="state === 'waiting'">
    <p>A new version is available.</p>
    <div><b>Version:</b> {{updateInfo.version}}</div>
    <div><b>Released:</b> {{updateInfo.releaseDate | date:'YYYY-MM-dd HH:mm:ss'}}</div>

    <p *ngIf="canSkip">
      Would you like to download this update now?
    </p>

    <p *ngIf="!canSkip">
      The download is in progress in the background.
    </p>
  </div>
  <div *ngIf="state === 'restart'">
    <p>Download completed successfully.</p>
    <p>Restart now to install {{updateInfo.version}} ?</p>
  </div>
</mat-dialog-content>

<div mat-dialog-actions >
  <button *ngIf="state === 'waiting' && !canSkip" color="primary" mat-button mat-raised-button (click)="cancel()" cdkTrapFocus>Ok</button>
  <button *ngIf="state === 'restart' || canSkip" color="primary" mat-button mat-raised-button (click)="yes()" style="margin-right: 16px" cdkTrapFocus>Yes</button>
  <button *ngIf="state === 'restart' || canSkip" color="accent" mat-button (click)="cancel()">No</button>
</div>
