.pdf-marker-mark-type-icon-container {
  display: inline-block;
  position: relative;

  .pdf-marker-mark-type-icon-options {
    display: inline-block;
    position: absolute;
    top: 100%;
    .mat-icon {
      font-size: 14px;
      height: fit-content;
      color: #fff !important;
      padding: 2px;
      display: inline;
      cursor: pointer;
    }

    .pdf-marker-mark-type-icon-delete {
      background: #a94442;
    }

    .pdf-marker-mark-type-icon-edit {
      background: #3c763d;
    }
  }

  .pdf-marker-mark-type-icon-icon {
    position: relative;
    width: 34px;
    height: 34px;
    cursor: move;
    border: 1px dotted transparent;
    .mat-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }

    .pdf-marker-mark-type-icon-number-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      height: unset;
      border: none;
      color: #a94442;
      font-weight: 600;
    }

    .pdf-marker-mark-type-icon-number-icon:focus {
      outline: none !important;
    }
  }

  .pdf-marker-mark-type-icon-hovered {
    border: 1px dotted #888;
  }
}
