<ng-container>
  <pdf-marker-alert></pdf-marker-alert>

  <div class="pdf-marker-workspace-overview-assignment-header">

    <h1 class="pdf-marker-assignment-overview-assignment-name">{{workspaceName}} </h1>
    <span class="pdf-marker-fill-space"></span>
    <button color="primary" mat-button mat-icon-button matTooltip="Manage Folders" (click)="manageFolders()">
      <mat-icon>drive_file_rename_outline</mat-icon>
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="table">
    <!-- Assignment Column -->
    <ng-container matColumnDef="assignmentTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="assignmentTitle"> Assignment Name</th>
      <td mat-cell *matCellDef="let element">
        <span class="pdf-marker-workspace-overview-assignment-name" (click)="openAssignmentOverview(element)">{{element.assignmentTitle}}</span>
      </td>
    </ng-container>

    <!-- Submission Count Column -->
    <ng-container matColumnDef="submissionCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="submissionCount"> No of Students</th>
      <td mat-cell *matCellDef="let element">{{element.submissionCount}}</td>
    </ng-container>

    <!--  Marked Count Column-->
    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="marked"> Marked</th>
      <td mat-cell *matCellDef="let element">{{element.marked}}</td>
    </ng-container>

    <!-- iS Rubric Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="type"> Type</th>
      <td mat-cell *matCellDef="let element">{{element.type}}</td>
    </ng-container>

    <!-- Move Folder Column -->
<!--    <ng-container matColumnDef="curWorkspace">-->
<!--      <th mat-header-cell *matHeaderCellDef> Move Assignment</th>-->
<!--      <td mat-cell *matCellDef="let element">-->
<!--        <mat-select>-->
<!--          <mat-option>options</mat-option>-->
<!--        </mat-select>-->
<!--      </td>-->
<!--    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="assignmentsLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]"
                 showFirstLastButtons></mat-paginator>
</ng-container>
