<ng-container>
  <ul *ngFor="let object of hierarchyModelKeys$ | async" [class]="!(hierarchyModel[object].path ? 'folder-list':'file-list')">
    <li *ngIf="hierarchyModel[object].path && hierarchyModel[object].isPdf" class="pdf-marker-file-explorer-pdf" (click)="onSelectedPdf(hierarchyModel[object].path)"><span class="file-name"><mat-icon class="file">insert_drive_file</mat-icon><span class="file-name-text">{{ object }}</span></span></li>
    <li *ngIf="hierarchyModel[object].path && !hierarchyModel[object].isPdf"><span class="file-name"><mat-icon class="file">insert_drive_file</mat-icon><span class="file-name-text">{{ object }}</span></span></li>
    <li #element *ngIf="!hierarchyModel[object].path" [class.first-li]="first">
      <mat-accordion>
        <mat-expansion-panel (opened)="element.value = true;" (closed)="element.value = false;">
          <mat-expansion-panel-header>
            <span class="folder-name"><mat-icon class="folder">{{ (element.value) ? 'folder_open':'folder' }}</mat-icon> {{ object }}</span>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div class="folder-content" [class.hide]="!element.value">
              <pdf-marker-file-explorer [hierarchyModel]="hierarchyModel[object]" [hierarchyModelKeys]="hierarchyModel[object]"></pdf-marker-file-explorer>
            </div>
          </ng-template>
        </mat-expansion-panel>
        <button mat-button *ngIf="first" [class.selected-assignment]="isSelected()" class="pdf-marker-overview" (click)="onAssignment(hierarchyModel)">Assignment List</button>
      </mat-accordion>
    </li>
  </ul>
</ng-container>
