<div class="toolbar">
  <mat-toolbar>
    <div class="pdf-marker-fill-space"></div>
    <button
      color="primary"
      matTooltip="Collapse All"
      mat-button
      mat-icon-button
      (click)="collapseAll($event)">
      <mat-icon>expand_less</mat-icon>
    </button>
    <button
      color="primary"
      matTooltip="Refresh Assignment List"
      mat-button
      mat-icon-button
      [class.spin]="loadingWorkspaces"
      (click)="onRefresh($event)">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>
  <mat-divider></mat-divider>
</div>
<div class="navigation" cdkScrollable>
  <pdf-marker-assignment-list></pdf-marker-assignment-list>
</div>
