.mat-drawer {
  font-family: 'opensans-light', Roboto, "Helvetica Neue", sans-serif;
}

.visible {
  visibility: hidden;
}

.pdf-marker-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
