mat-action-list {
  .delete_icon {
    color: #a94442 !important;
  }
}

.pdf-marker-empty {
  font-family: 'opensans-light', Helvetica, Roboto, "Helvetica Neue", sans-serif;
  display: inline-block;
  margin-top: 15px;
  margin-left: 30px;
}
