/* You can add global styles to this file, and also import other style files */
/*Fonts*/
@font-face {
  font-family: 'opensans-light';
  src: url(../fonts/OpenSans-Light.ttf) format("truetype");
  font-weight:300;
}

@font-face {
  font-family: 'opensans-light-italic';
  font-style: italic;
  src: url(../fonts/OpenSans-LightItalic.ttf) format("truetype");
  font-weight:300;
}

@font-face {
  font-family: 'opensans-regular';
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'opensans-regular-italic';
  font-style: italic;
  src: url(../fonts/OpenSans-RegularItalic.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'opensans-semi-bold';
  src: url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'opensans-semi-bold-italic';
  font-style: italic;
  src: url(../fonts/OpenSans-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*Variables*/
$pdf-marker-primary: #6f327a;

html, body { height: 100%; font-family: Roboto, "Helvetica Neue", sans-serif !important; min-height: 695px; min-height: 650px;}
body { margin: 0; }

ng2-pdfjs-viewer {
  iframe {
    border: none !important;
  }
}

pdf-marker-header {
  /*height: 10% !important;*/
  display: block;
}

pdf-marker-home {
  height: 90% !important;
  display: block;
}

pdf-marker-assignment-marking {
  display: block;
  position: relative;
}

pdf-marker-assignment-marking-rubric {
  display: block;
  position: relative;
}

pdf-marker-finalise-marking {
  display: block;
  position: relative;
  height: 100%;

  mat-list {
    .mat-list-item-content {
      padding-left: 0 !important;
    }
  }

  .pdf-marker-finalise-marking-modal-content::-webkit-scrollbar-thumb {
    background: $pdf-marker-primary;
    border-radius: 10px;
  }
  .pdf-marker-finalise-marking-modal-content::-webkit-scrollbar {
    width: 5px;
  }
}

.mat-dialog-container {
  padding-top: 0 !important;
}

body {

  .mat-drawer-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #F5F5F5;
  }

  .mat-dialog-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $pdf-marker-primary;
  }

  .mat-dialog-container::-webkit-scrollbar {
    width: 8px;
    background: #F5F5F5;
  }

  .mat-drawer-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $pdf-marker-primary;
  }
}

.pdf-marker-fill-space {
  flex: 1;
}

.mat-icon {
  color: $pdf-marker-primary;
}

.pdf-marker-container {
  height: 100%;
}

button {
  min-width: auto !important;
}

.mat-drawer-container {
  height: 100%;
  background: #F5F5F5 !important;

  .mat-drawer {
    width: 25%;
    min-width: 380px;
  }

  .mat-drawer-inner-container::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    background: #F5F5F5;
  }

  .mat-drawer-inner-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $pdf-marker-primary;
  }

  .pdf-marker-content-container {
    padding-left: 23px;
    padding-right: 23px;
    background: #F5F5F5;
    display: table;
    width: 95%;
  }

  mat-toolbar {
    font-family: 'opensans-light', Roboto, "Helvetica Neue", sans-serif !important;
  }
}

.mat-expansion-panel {
  background: transparent !important;
  width: 98%;
  padding: 0!important;
  margin: 0;
}

.mat-expansion-panel-header {
  height: auto !important;
  display: unset !important;
  margin: 0;
  padding: 0 !important;
  animation-name: none !important;
}

.mat-expansion-indicator {
  display: none !important;
}

.mat-expansion-panel-body {
  padding: 0 24px 0!important;
  padding-right: 0 !important;
}

pdf-marker-file-explorer-modal {
  pdf-marker-file-explorer {
    .mat-expansion-panel-header {
      height: auto !important;
    }
    .mat-expansion-panel-body {
      padding: 0 24px 0!important;
      padding-right: 0 !important;
    }
  }
}

.pdf-spacer {
  margin: 10px 0 10px 0
}

.mat-expansion-indicator {
  display: none !important;
}

.mat-checkbox-checked, .mat-checkbox-indeterminate {
  .mat-checkbox-background, .mat-checkbox-background {
    background: $pdf-marker-primary !important;
  }
}

.mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background: $pdf-marker-primary;
}

.errorMessages{
  font-family: 'opensans-light', Roboto, "Helvetica Neue", sans-serif !important;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;

  .close {
    cursor: pointer;
  }
}

.alert-dismissable {
  padding-right: 15px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;

  * {
    color: #3c763d !important;
  }
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;

  * {
    color: #31708f !important;
  }
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;

  * {
    color: #8a6d3b !important;
  }
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;

  * {
    color: #a94442 !important;
  }
}

.pdf-page-title {
  margin-top: 0;
}


.mat-paginator-container {
  justify-content: flex-start !important;
}

.mat-dialog-container {
  /*background: #F5F5F5 !important;*/
}

.pdf-button-disabled {
  background: rgba(0,0,0,.12);
}

.pdf-icon-disabled {
  color: rgba(0,0,0,.26) !important;
  stroke: rgba(0,0,0,.26) !important;
}

pdf-marker-rubric-criteria {
  width: fit-content;
}

pdf-marker-rubric-criteria-level-block {
  display: flex;
  flex-direction: column;
}
