@use '@angular/material' as mat;

@import '@material-design-icons/font';
@import 'scss/mixins';
@include mat.core();

@import "scss/variables";

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here




$my-app-theme: mat.define-light-theme(
    (
      color: (
        primary: $my-app-primary,
        accent: $my-app-accent,
        warn: $my-app-warn,
      ),
    )
);

@include mat.all-component-themes($my-app-theme);
/* You can add global styles to this file, and also import other style files */
/*Fonts*/


html, body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  --pdf-marker-primary: #{$pdf-marker-primary};
  --pdf-marker-secondary: #{$pdf-marker-secondary};
}

.mat-dialog-container {
  padding-top: 0 !important;
}

body {

  .mat-drawer-content,
  .mat-dialog-container{
    @include scrollbar();
  }
}

.pdf-marker-fill-space {
  flex: 1;
}

.pdf-marker-container {
  height: 100%;
}



.left-fixed-menu {
  height: calc(100vh - #{$top-nav-height});
  width: $left-fixed-menu-width;
}

.mat-drawer-container {

  /* Height - height of navbar */
  height: calc(100vh - #{$top-nav-height});
  background: #F5F5F5 !important;
  display: inline-block !important;

  .mat-drawer {
    width: 25%;
    min-width: 380px;
  }

  .pdf-marker-content-container {
    padding-left: 23px;
    padding-right: 23px;
    background: #F5F5F5;
  }
}

.table-responsive {
  @include scrollbar(--pdf-marker-secondary);
}


.mat-menu-panel,
.mat-dialog-content {
  @include scrollbar();
}

.mat-expansion-panel-header {
  height: auto !important;
  display: unset !important;
  margin: 0;
  padding: 0 !important;
  animation-name: none !important;
}

pdf-marker-file-explorer-modal {
  pdf-marker-file-explorer {
    .mat-expansion-panel-header {
      height: auto !important;
    }
    .mat-expansion-panel-body {
      padding: 0 24px 0!important;
      padding-right: 0 !important;
    }
  }
}

.pdf-spacer {
  margin: 10px 0 10px 0
}

.mat-expansion-indicator {
  display: none !important;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;

  .close {
    cursor: pointer;
  }
}

.alert-dismissable {
  padding-right: 15px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;

  * {
    color: #3c763d !important;
  }
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;

  * {
    color: #31708f !important;
  }
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;

  * {
    color: #8a6d3b !important;
  }
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;

  * {
    color: #a94442 !important;
  }
}

.pdf-page-title {
  margin-top: 0;
}


.mat-paginator-container {
  justify-content: flex-start !important;
}

.mat-dialog-container {
  /*background: #F5F5F5 !important;*/
}

.pdf-button-disabled {
  background: rgba(0,0,0,.12);
}

.pdf-icon-disabled {
  color: rgba(0,0,0,.26) !important;
  stroke: rgba(0,0,0,.26) !important;
}

pdf-marker-rubric-criteria {
  width: fit-content;
}

pdf-marker-rubric-criteria-level-block {
  display: flex;
  flex-direction: column;
}


/** Place the progress bar over other elements to avoid the page jumping */
.mat-progress-bar{
  position: absolute !important;
  z-index: 99999;
}
.mat-header-cell{
  font-size: 14px;
}


/**
  PDF annotations
 */
.annotation-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  //opacity: 0.2;
  line-height: 1.0;
}

.annotation-layer > section {
  position: absolute;
  white-space: pre;
  cursor: pointer;
  transform-origin: 0% 0%;

  &.highlightAnnotation:before{
    top: calc(8px / -1.33);// DPI / font size magic
  }


  &.squareAnnotation:before{
    left: calc(25px / 1.33);
    top: calc(12px / -1.33);
  }

  &:not(.linkAnnotation):before{
    content: 'comment';
    font-family: "Material Icons";
    height: calc(16px / 1.33); // DPI / font size magic
    width: calc(16px / 1.33); // DPI / font size magic
    font-size: calc(16px / 1.33); // DPI / font size magic
    color: var(--pdf-marker-secondary);
    position: absolute;

  }
}

.annotation-layer > .linkAnnotation > a {
  position: absolute;
  font-size: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.internalLink{
    // Hide internal links for now until we can support navigating to it
    display: none;
  }
}

.annotation-layer {
  .popupWrapper{
    width: 250px;
    position: relative;
    margin-left: 8px;
    border: 1px solid #dedede;
    border-radius: 5px;
  }
  .popup{
    border-radius: 5px;
    box-shadow: 0 7px 14px #3b415e1a, 0 3px 6px #00000012 !important;
    padding: 7px;
  }
  h1 {
    font-size: 1rem;
    margin-top: 0;
    white-space: pre-wrap;
  }
  .popupContent {
    font-size: 0.7rem;
    white-space: pre-wrap;
  }
  .popupDate {
    display: none; // We don't fill dates
  }
}

.highlight-menu{
  background: #3d3d3d;
  min-height: unset !important;
}

.highlight-menu.vertical{
  min-width: unset !important;
  .highlight-options {
    flex-direction: column;
  }
}


.highlight-options {
  display: flex;
  justify-content: space-between;
  margin-top: -8px;
  margin-bottom: -8px;
  .highlight-option {
    padding: 0.5rem;
    cursor: pointer;

    &.selected {
      background: #222;
    }

    &:hover{
      background: #333;
    }

    .highlight-option-brush{
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
}

/** Hide the scrollbars on the zoom select popup */
.zoom-select-popup{
  max-height: unset !important;
}

/** Loading indicator while pages are rendering */
.waiting .mat-progress-spinner circle, .mat-spinner circle{
  stroke: var(--pdf-marker-secondary);
}

.header-toolbar{
  .submission-navigator-wrapper{
    transition: margin 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-left: 16px;
  }
  &.menuOpen .submission-navigator-wrapper{
    margin-left: 258px;
  }
}
.cursor-not-allowed     { cursor: not-allowed; }
.cursor-pointer     { cursor: pointer; }
.cursor-grab     { cursor: grab; }
.cursor-grabbing     { cursor: grabbing; }

.mat-stroked-button.mat-primary{
  border-color: var(--pdf-marker-primary);
}

@import 'scss/compatibility';
