@import './_variables';

/**
 Override material zero padding with bootstrap padding
 */
th.mat-mdc-header-cell,
td.mat-mdc-cell,
td.mat-mdc-footer-cell{
  padding: $table-cell-padding-y $table-cell-padding-x !important;
}

/**
 Override bootstrap bottom table headers back to materials middle
 */
.table > thead,
.table > tbody{
  vertical-align: middle;
}

/**
 Reset material
 */
.mat-icon svg{
  vertical-align: baseline;
}
