$pdf-marker-primary: #6f327a;
mat-toolbar {
  background: transparent;
  height: 99%;
  min-height: 64px;
  .pdf-marker-brand {
    display: flex;
    align-items: center;
    cursor: pointer;

    .pdf-marker-title {
      /*font-family: 'opensans-light', Roboto, "Helvetica Neue", sans-serif;*/
      font-weight: 800;
    }

    #pdf-marker-version {
      font-family: 'opensans-light', Helvetica, Roboto, "Helvetica Neue", sans-serif;
      font-size: 10px;
      vertical-align: super;
      font-weight: bolder;
    }

    img {
      width: 140px;
      margin-left: -3px;
    }
  }
}

mat-divider {
  background: $pdf-marker-primary;
}
