:host {
  position: absolute;
  z-index: 1;

  /**
    * It can happen that 2 highlights are on top of each other
    * or that the buttons the manage the highlight is below another highlight
    * to avoid getting stuck, move this item higher to allow clicking the tools
    */
  &:hover{
    z-index: 5;
  }
}

.comment-indicator{
  position: absolute;
  top: -8px;
  left: 0;

  .mat-icon{
    height: 16px;
    width: 16px;
    font-size: 16px;
    color: var(--pdf-marker-secondary)
  }
}

.pdf-marker-mark-type-highlight-container{

  &:not(.disabled):hover, &.pallet-open{

    .highlight {
      border: 1px dotted #888;
    }

    .tools {
      display: flex;
      line-height: 1;
    }
  }

  .tools {
    display: none;
    flex-direction: row;



    .mat-icon {
      font-size: 1.15rem;
      height: fit-content;
      color: #dedede;
      display: inline-block;
      cursor: pointer;
      width: auto;
      text-align: center;
      padding: 2px;

      &:hover{
        color: #fff;
      }
    }
    .tool-container {
      background: #3d3d3d;
      border-radius: 3px;
      padding: 3px;

      mat-icon:not(:first-child){
        margin-left: 5px;
      }
    }
  }

}
